<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="xmlFileRepositoryGroup">
      <section name="xmlFileRepository" type="InsaneJourney.XmlFileRepository.XmlFileRepositoryConfigSection, InsaneJourney.XmlFileRepository" allowLocation="true" allowDefinition="Everywhere"  />
    </sectionGroup>
  </configSections>

  <xmlFileRepositoryGroup>
    <xmlFileRepository
        useAbsolutePath="false"
          xsdSchemaDirectoryPath=""
          xmlDataDirectoryPath=""
          xsdSchemaFileName="schema.xsd"
          xmlDataFileName="sample.xml"/>
  </xmlFileRepositoryGroup>

</configuration>